.palaces__mountains {
  background: url(.../../../../../images/places-mountains.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: ease-out 1s;
}

.palaces__mountains:hover {
  transform: scale(1.03);
}
