.menu__item-link {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.menu__item-link:hover {
  border-bottom: 1px solid #fed3b2;
}

@media (max-width: 767px) {
  .menu__item-link {
    font-size: 15px;
    border-bottom: 1px solid #fed3b2;
  }
}