.places__subtitle {
  color: #000;
  margin: 0;
  position: absolute;
  font-size: 35px;
  font-weight: 700;
  top: 10%;
  left: 12%;
}

@media (max-width: 768px) {
  .places__subtitle {
    font-size: 25px;
    left: 10%;
  }
}

@media (max-width: 767px) {
  .places__subtitle {
    left: 5%;
    top: 5%;
  }
}
