.footer__copyright {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 56px;
  padding: 22.2% 0 22.2%;
}

@media (max-width: 450px) {
  .footer__copyright {
    padding-right: 10px;
    font-size: 25px;
  }
}
