.menu__complaint {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  transition: 500ms ease-in-out;
}

.menu__complaint:hover {
  color: #ff9797;
}

@media (max-width: 767px) {
  .menu__complaint {
    font-size: 15px;
    color: #ff9797;
  }
}
