.palaces__forest {
  background: url(.../../../../../images/places-forest.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: ease-out 1s;
}

.palaces__forest:hover {
  transform: scale(1.03);
}
