.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
  }

  @media (max-width: 767px) {
    .menu {
      display: block;
      padding-top: 20px;
      text-align: end;
    }
  }